<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>YmjmJaEKobFg0F0Mh1TgAqzkuZj4XYCP</string>
	<key>Domain</key>
	<string>dev-mpdmse45oh60wly3.us.auth0.com</string>
</dict>
</plist>
